@model IEnumerable<BlazeBlog.Models.Post>

@{
    ViewData["Title"] = "Index";
    string? UserName = User?.Identity?.Name;
}

<h1>Index</h1>

@if (User?.Identity?.IsAuthenticated??false)
{
<p>
    <a asp-action="Create">Create New Post</a>
</p>
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>

            <th>

                @Html.DisplayNameFor(model => model.Content)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.TimeStamp)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>

@foreach (var item in Model!) 
{
        <tr>
            <td>
               <a asp-action="Details" asp-route-id="@item.PostId">@Html.DisplayFor(modelItem => item.Title) </a>
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Content)
            </td>
            
            <td>
                @Html.DisplayFor(modelItem => item.TimeStamp)
            </td>

            @if (User!.Identity!.IsAuthenticated && UserName == item.UserName)
            {
    
                <td>
                    <a asp-action="Edit" asp-route-id="@item.PostId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.PostId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.PostId">Delete</a>
                </td>

            }

        </tr>
}
    </tbody>
</table>
